.wrapper {
    height: 60px;
    width: 100%;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
}

.inner {
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search-result{
    width: 361px;
}
.clear,
.loading {
    position: absolute;
    right: 54px;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.1);
    border: none;
    outline: none;
    &:hover {
        cursor: pointer;
    }
    display: none;
}
.more-btn{
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 1.6rem;
    padding:0px 20px;
}
.search {
    width: 361px;
    position: relative;
    height: 46px;
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: 92px;
    display: flex;
    align-items: center;
    border: 2px solid transparent;
    padding-left: 10px;
    input {
        caret-color: red;
        color: #828282;
        height: 100%;
        color: black;
        font-size: 1.6rem;
        border: none;
        background-color: transparent;
        outline: none;
        flex: 1;
    }
    &::after {
        content: '';
        position: absolute;
        height: 28px;
        background-color: rgba(22, 24, 35, 0.1);
        width: 1px;
        top: 9px;
        right: 52px;
    }
    &:focus-within {
        border-color: rgba(22, 24, 35, 0.1);
    }
}

input:not(:placeholder-shown) ~ .search-btn {
    color: rgba(22, 24, 35, 1);
}


.search-btn {
    width: 52px;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    border-top-right-radius: 92px;
    border-bottom-right-radius: 92px;
    color: rgba(22, 24, 35, 0.2);
    font-size: 2rem;
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
        cursor: pointer;
    }
    &:active{
        background-color: rgba(22, 24, 35, 0.06);
    }

}
.search-title{
    padding: 0 10px;
    color: rgba(22, 24, 35, 0.2);
}